{% extends "base.html" %}

{% block content %}

        <hr>

        {% for blogpost in blogposts %}
        <div class="blogpost">
            <a class = "blog-title" href = "blog/{{blogpost.key().id()}}">{{blogpost.title}}</a>
            <p class="blog-body">{{blogpost.blogpost}}</p>
        </div>
        <hr>

        {% endfor %}

        
        <div class = "footer"> <a href="{{prevlink}}">{{prev}}</a> 
        	<span>{{separator}}</span> 
        	{%for number in numofpages%}
        		&nbsp;<a href="blog?page={{number}}">{{number}}</a>
        	{%endfor%} 
        	&nbsp;<span>{{separator}}</span> 
        	<a href="{{nextlink}}">{{next}}</a> </div>

       
{% endblock %}